.navBarBox{
    height: 50px;
    width: 100%;
    background-color:#3b5998;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.navBarLeft{
   flex: 3;
}

.navBarCenter{
   flex: 5;
}

.navBarRight{
  flex: 4;
  display: flex;
  align-items: center;
  color: white;
}

.navBarIcons{
    display: flex;
    align-items: center;
    margin-left: 40px;

}

.navBarIcon{
    margin-left: 23px;
    cursor: pointer;

}

.iconTag{
 background-color: red;
 width: 15px;
 height: 15px;
 color: white;
 border-radius: 50%;
 position: absolute;
}

.pic{
   display: flex;
   margin-left: 80px;
}
.profilePicimg{
   width: 38px;
   height: 32px;
   object-fit: cover;
   border-radius: 50%;
   cursor: pointer;
}
.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.searchBarBox{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 80%;
}

.searchInput:focus{
    outline: none;
}
.navBarLinks{
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;

}

.navBarLink{
    margin-left: 10px;
}