.leftPaneBox{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(192,196,199);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(141,141,141);
}

.leftPaneContainer{
    padding: 20px;

}

.leftPaneMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
}

.leftPaneMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.leftPaneMenuIcon{
    margin-right: 20px;

}

.pagePic{
    width: 35px;
    height: 35px;
    border-radius:20% ;
}

.pagesYouLiked{
    font-family: sans-serif;
    color:gray;
    font-size: 14px;
    font-weight: 100;
    margin-top: 10px;

}

.pageList{
    padding: 0;
    margin: 0;

}

.pageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 12px;

}

.pageName{
    margin-left: 10px;
}